version: '3'

services:
  front:
    build: ./front
    ports:
      - "3000:3000"

  back:
    build: ./back
    ports:
      - "8080:8080"

  postgres:
    image: postgres:latest
    volumes:
      - ./postgres-entrypoint:/docker-entrypoint-initdb.d
      - ./postgres_data:/var/lib/postgresql/data
    env_file:
      - docker.env