version: '3'

services:
  front:
    image: node:15.14.0-alpine3.12
    command: sh -c "npm install && npm start"
    ports:
      - "3000:3000"
    environment:
      HOST: 0.0.0.0
    volumes:
      - ./front/.:/usr/src/app
    working_dir: /usr/src/app

  back:
    image: node:15.14.0-alpine3.12
    command: sh -c "npm install && npm run start:dev"
    ports:
      - "8080:8080"
    volumes:
      - ./nestjs_back/.:/usr/src/app
    working_dir: /usr/src/app

  postgres:
    image: postgres:latest
    volumes:
      - ./postgres-entrypoint:/docker-entrypoint-initdb.d
      - ./postgres_data:/var/lib/postgresql/data
    env_file:
      - docker.env

  # pgadmin:
  #   links:
  #     - postgres:postgres
  #   container_name: pgadmin
  #   image: dpage/pgadmin4
  #   ports:
  #     - "8081:80"
  #   volumes:
  #     - ./pgadmin/_data:/root/.pgadmin
  #   env_file:
  #     - docker.env
  
  # websocket_client:
  #   image: node:15.14.0-alpine3.12
  #   command: sh -c "npm install && npm run nodemon"
  #   volumes:
  #     - ./websocket_client/.:/usr/src/app
  #   working_dir: /usr/src/app
