$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$logout_accent_color: #BF3030;
$light-gray: #E3E3E3;
$dark-gray: #919191;
$darker-gray: #3E3E3E;

.pic_wrapper {
	display: inline-block;
	position: relative;
	margin: 0px 75px 0px 75px;
	width: 230px;
	height: 230px;
	border: 5px solid $accent_color;
	color: transparent;
	border-radius: 0px 6px 6px 6px;
	user-select: none;
	color: transparent;
}

.pic_wrapper:before {
	content:"your avatar_";
	font-family: "Dogica";
	position: relative;
	top: -24px;
	left: -22px;
	background-color: $accent_color;
	color: white;
	height: 20px;
	width: 1000px;
	padding: 5px 20px;
	border-radius: 5px 5px 0px 0px;
}

.pic_input {
	position: absolute;
	top: -1px;
	left: 0px;
	width: 231px;
	height: 232px;
	cursor: pointer;
	user-select: none;
	color: transparent;

	&::file-selector-button {
		visibility: hidden;
	}
}

.pic_base_text {
	position: relative;
	top: -20px;
	width: 231px;
	height: 231px;
	background-color: $darker-gray;
	color: white;
	font-family: "Dogica", "Fira Mono";
	font-size: 180px;

	span {
		position: relative;
		top: 30px;

		@supports (-moz-appearance:none) {
			top: -20px;
		}
	}
}

.pic_pencil {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: $accent_color;
	text-shadow: 0 0 15px black;
	border-radius: 50%;
	pointer-events: none;
}
