$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$logout_accent_color: #BF3030;
$light-gray: #E3E3E3;
$dark-gray: #919191;
$darker-gray: #3E3E3E;

.parameters {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	h1 {
		font-family: "Dogica";
		height: 100px;
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	
		.subcontainer {
			display: flex;
			flex-direction: column;
			width: 50%;

			&.left {
				flex-wrap: wrap-reverse;
			}

			&.right {
				flex-wrap: wrap;
			}
		}

		.btn {
			display: inline-block;
			background-color: $background-color;
			transition: background-color 0.2s, color 0.2s;
			
			.open_door {
				visibility: hidden;
				position: relative;
				left: -20px;
			}
			
			.closed_door {
				position: relative;
				left: 22px;
			}

			&:hover {
				cursor: pointer;

				.open_door {
					visibility: visible;
				}
				
				.closed_door {
					visibility: hidden;	
				}
			}

			&.twofa {
				font-family: "Fira Mono";
				width: 300px;
				height: 75px;
				margin: 30px;
				font-size: 25px;
				padding: 20px 20px;
				color: $accent_color;
				border: 2px solid $accent_color;
				border-radius: 5px;
				margin-bottom: 0px;

				&:hover {
					color: $background-color;
					background-color: $accent_color;
				}
			}
			
			&.logout {
				font-family: "Fira Mono";
				width: 300px;
				height: 75px;
				margin: 30px;
				font-size: 25px;
				padding: 20px 20px;
				color: $logout_accent_color;
				border: 2px solid $logout_accent_color;
				border-radius: 5px;
				margin-bottom: 0px;
			
				&:hover {
					color: $background-color;
					background-color: $logout_accent_color;
				}

				.logout_text {
					position: relative;
					left: -20px;
				}
			}

			&.namechange {
				color: $accent_color;
				font-family: "Dogica";
				font-size: 1em;
				width: 200px;
				height: 50px;
				margin: 20px 101px;
				border: 3px solid $accent_color;
				border-radius: 5px;
			
				&:hover {
					color: $background-color;
					background-color: $accent_color;
				}
			}

			&.namechange_disabled {
				color: $dark-gray;
				font-family: "Dogica";
				font-size: 1em;
				width: 200px;
				height: 50px;
				margin: 20px 101px;
				border: 3px solid $dark-gray;
				border-radius: 5px;
			
				&:hover {
					pointer-events: none;
					color: $dark-gray;
					cursor: not-allowed; // <= this does nothing because of pointer-events none
				}
			}
		}
	}
}
