$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$logout_accent_color: #BF3030;
$light-gray: #E3E3E3;
$dark-gray: #919191;
$darker-gray: #3E3E3E;

.modal {
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);

    .modal_content {
    	display: block;
    	position: absolute;
    	top: calc(50% - 275px);
    	left: calc(50% - 250px);
    	margin: 0px;
    	width: 500px;
    	height: 550px;
    	background-color: $background-color;
    	border: 5px solid $accent_color;
    	border-radius: 0px 5px 5px 5px;
    	padding: 0px;

        &:before {
            content:"2fa_code_";
            font-family: "Dogica";
            position: relative;
            top: -24px;
            left: -170px;
            background-color: $accent_color;
            color: white;
            height: 20px;
            padding: 5px 20px;
            border-radius: 5px 5px 0px 0px;
        }

        .qr_code {
            position: relative;
            width: 300px;
            height: 300px;
            margin: 25px;
            border: 5px solid $accent_color;
            border-radius: 3px;
        }
        
        p {
            height: 50px;
        }
        
        .six_digit_code {
            display: inline-block;
            width: 230px;
            height: 40px;
            background-color: $background-color;
            color: $text-color;
            font-family: "Fira Mono";
            font-size: 30px;
            letter-spacing: 20px;
            padding: 10px 0px 10px 20px;
            margin: 20px;
            border: 3px solid $accent_color;
            border-radius: 5px;
            outline: none;
        }

        .close_button {
            position: absolute;
            top: 20px;
            right: 30px;
            background-color: $background-color;
            color: white;
            border: none;
        
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.visible {
	visibility: visible;
}