$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$mod_accent_color: #64A1E9;
$ban_accent_color: #BF3030;
$light-gray: #E3E3E3;
$dark-gray: #919191;
$darker-gray: #3E3E3E;

$scheme1: mod $accent_color;
$scheme2: not-mod $accent_color;
$scheme3: ban $ban_accent_color;
$scheme4: unban green;

$schemes: $scheme1 $scheme2 $scheme3 $scheme4;

.userLine {
	font-size: 17px;
	display: flex;
	width: 90%;
	margin-left: 10px;
	margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
	padding-bottom: 10px;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	// overflow: visible;

    &:hover {
        background-color: #333333;
    }

    div:first-child {
        flex-grow: 2;
        margin-top: 3px;
        margin-left: 3px;
        color: $light-gray;
    }
    
    div:first-child:hover {
        color: white;
    }

    @each $scheme in $schemes {
        .user_button.#{nth($scheme, 1)} {
            font-size: 25px;
            color: $dark-gray;
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 50%;
            line-height: 85%;
            margin: 2px 15px 5px 15px;
            cursor: pointer;
            display: inline-block;

            &:hover {
                color: nth($scheme, 2);

                .tooltiptop {
                    font-family: "Fira Mono";
                    font-weight: 450;
                    color: white;
                    visibility: visible;
                    opacity: 1;
                }
            }

            .tooltiptop {
                position: relative;
                top: -32px;
                left: -15px;
                display: inline-block;
                visibility: hidden;
                opacity: 0;
                width: 150px;
                height: 20px;
                padding: 3px 0;
                border-radius: 5px;
                text-align: center;
                font-size: 15px;
                margin-left: -165px;
                margin-top: 0px;
                z-index: 2;
                pointer-events: none;
                transition: opacity 0.5s;
                background-color: nth($scheme, 2);

                &::after {
                    content: " ";
                    position: absolute;
                    top: 50%; /* At the bottom of the tooltip */
                    left: 100%;
                    margin-top: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent transparent nth($scheme, 2);
                }

                .tooltiptext {
                    position: relative;
                    color: black;
                    top: 3px;
                }
            }
        }
    }
}