$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$mod_accent_color: #64A1E9;
$ban_accent_color: #BF3030;
$light-gray: #E3E3E3;
$dark-gray: #919191;
$darker-gray: #3E3E3E;

.admin_page {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: $background-color;
}

.admin_h1 {
	font-family: "Dogica";
	height: 100px;
}

.admin_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.admin_subcontainer {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.userPanel {
	height: 100%;
	width:100%;
	display: flex;
	position: absolute;
}

.userList {
	height: calc(100% - 80px);
	padding: 10px 0 10px 10px;
	overflow-y: scroll;
	position: relative;
}

.userListWrapper {
	height: 100%;
	// width: 320px;
	width: 100%;
	background-color: $background-color;
	outline: 4px solid $background-color;
	color: $background-color;
	z-index: 1;
	text-align: left;
	color: white;
}

.userSearchBar {
	display: flex;
	width: calc(100% - 45px);
	height: 25px;
	margin: 15px 10px 10px 10px;
	background-color: $background-color;
	border: 2px solid $accent_color;
	border-radius: 5px;
	padding: 5px 10px;
}

.userSearch {
	flex-grow: 2;
	font-size: 14px;	
	outline: none;
	font-family: "Fira Mono";
	color: white;
	background-color: $background-color;
	border: none;
}

.userSearch::placeholder {
	color: $light-gray;
}

#userSearchButton {
	padding-top: 2px;
	padding-left: 5px;
	font-size: 20px;
	color: #ababab;
}

.separator_text {
    font-size: 18px;
    margin-left: 5px;
    color: $accent_color;
}

.userLine {
	font-size: 17px;
	display: flex;
	width: 90%;
	margin-left: 10px;
	margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
	padding-bottom: 10px;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	// overflow: visible;
}

.userLine:hover {
    background-color: #333333;
}

.userLine div:first-child {
	flex-grow: 2;
    margin-top: 3px;
    margin-left: 3px;
	color: $light-gray;
}

.userLine div:first-child:hover {
	color: white;
}

.user_button {
	font-size: 25px;
	color: $dark-gray;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50%;
	line-height: 85%;
    margin: 2px 15px 5px 15px;
	// margin-top: -2px;
    // margin-left: 30px;
	cursor: pointer;
	display: inline-block;
}

.user_button.admin:hover {
    color: $accent_color;
}

.user_button.mod:hover {
    color: $mod_accent_color;
}

.user_button.ban:hover {
    color: $ban_accent_color;
}

.user_button .tooltiptop {
	position: relative;
    top: -32px;
    left: -15px;
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 150px;
	height: 20px;
	padding: 3px 0;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
	margin-left: -165px;
	margin-top: 0px;
    // padding-top: 3px;
    // padding-bottom: 3px;
	z-index: 2;
	pointer-events: none;
	transition: opacity 0.5s;
}

.user_button .tooltiptop::after {
	content: " ";
	position: absolute;
	top: 50%; /* At the bottom of the tooltip */
	left: 100%;
	margin-top: -5px;
  	border-width: 5px;
	border-style: solid;
}

.user_button:hover .tooltiptop {
    font-family: "Fira Mono";
    font-weight: 450;
    color: white;
	visibility: visible;
	opacity: 1;
}

.tooltiptop.admin {
    background-color: $accent_color;
}

.tooltiptop.mod {
    background-color: $mod_accent_color;
}

.tooltiptop.ban {
    background-color: $ban_accent_color;
}

.tooltiptop.admin:after {
	border-color: transparent transparent transparent $accent_color;
}

.tooltiptop.mod:after {
	border-color: transparent transparent transparent $mod_accent_color;
}

.tooltiptop.ban:after {
	border-color: transparent transparent transparent $ban_accent_color;
}

.tooltiptext {
    position: relative;
    color: black;
    top: 3px;
}

.stats {
    font-family: "Dogica";
    font-size: 18px;
    margin: 25px;
}

.stats .special {
    color: $accent_color;
}