$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;

.App {
	text-align: center;
	height: 975px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
//   border: 1px solid red;
}

header, footer {
	display: flex;
	max-width: 1150px;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	
	img {
		margin: 5px;
		user-select: none;
	}
}

#logo_wrapper {
	width: 320px;
}

#logo * {
	color: $accent_color;
	font-family: "Star Jedi";
	font-size: 60px;
	letter-spacing: 3px;
	// margin-top: 50px;
	display: flex;
	flex-direction: column;
}

#logo p {
	display: block;
	// max-width: 100px;
	padding: 0;
	margin: 0;
	margin-top: -40px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.square {
	width: 195px;
}

.temp {
	width: 145px;
}

.radar {
	width: 143px;
}

.viseur {
	width: 256px;
}

.arrows {
	width: 215px;
}

.fusibles {
	width: 140px;
}

.histogram {
	width: 505px;
}

.flip {
	transform: translate(0,200);
	transform: scale(-1,1);
}

.body_wrapper{
	margin-top: 30px;
	margin-bottom: 20px;
	height: 700px;
}

#home {
	// border: 1px solid red;
	display: flex;
	justify-content: center;
	
}