$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;

.App {
	text-align: center;
	height: 975px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
	// border: 1px solid red;
}

header, footer {
	display: flex;
	max-width: 1150px;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	
	img {
		margin: 5px;
		user-select: none;
	}
}

#logo_wrapper {
	width: 320px;
}

#logo p {
	font-family: "Star Jedi";
	font-size: 60px;
	letter-spacing: 3px;
	color: $accent_color;
	display: block;
	padding: 0;
	margin: 0;
	margin-top: -40px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#logo p:nth-child(2) {
	margin-top: -60px;
}

.square {
	width: 195px;
}

.temp {
	width: 145px;
}

.radar {
	width: 143px;
}

.viseur {
	width: 256px;
}

.arrows {
	width: 215px;
}

.fusibles {
	width: 140px;
}

.histogram {
	width: 505px;
}

.flip {
	transform: translate(0,200);
	transform: scale(-1,1);
}

.body_wrapper{
	margin-top: 30px;
	margin-bottom: 20px;
	height: 700px;
}

#home {
	// border: 1px solid red;
	display: flex;
	justify-content: center;
	
}

@media (max-height: 1000px) { 
	.App {
		height: 767px;
	}
	footer {
		display: none;
	}
	header {
		height: 50px;
		margin-top: 10px;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 10px;
		// display:none;
	}
	.viseur, .temp, .radar{
		display: none;
	}
	#logo_wrapper {
		width: auto;
	}
	#logo a {
		display: flex;
		flex-direction: row;
		gap: 30px;
	}
	#logo p {
		margin-top: 0;
	}
	#logo p:nth-child(2) {
		margin-top: 0 !important;
	}
	img {
		height: 100%;
	}
	.body_wrapper {
		margin-top: 20px;
	}
}
