
$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$light-gray: #E3E3E3;
$dark-gray: #919191;
$red: #BF3030;


#channel_admin {
	position: absolute;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	background-color: $background-color;
	z-index: 1;
	padding: 10px;
	outline: 4px solid $background-color;
	
	.close_icon {
		font-size: 30px;
		position: absolute;
		right: 15px;
		top: 15px;
		cursor: pointer;
	}

	#name_description {
		font-size: 20px;
		font-family: "Dogica";
		text-align: left;
		padding: 10px;

		p {
			font-family: "Fira Mono";
			font-size: 14px;
			color: $dark-gray;
			margin: 15px 0;
		}
	}

	#info_members {
		position: relative;
		z-index: 2;

		.fa-info-circle {
			position: absolute;
			right: 30px;
			top: -8px;
			font-size: 22px;
			color: $dark-gray;
			// cursor: pointer;
		}

		div {
			position: absolute;
			display: flex;
			flex-direction: column;
			width: 100px;
			height: 110px;
			background-color: $dark-gray;
			border-radius: 5px;
			right: 27px;
			top: -11px;
			visibility: hidden;
			padding: 5px;
			text-align: left;
			
			span {
				color: $background-color;
				font-size: 15px;
				
				i {
					padding: 6px;
					font-size: 15px;
					width: 18px;
					margin: auto;
				}
			}
		}

		&:hover {
			i {
				color: $background-color;
				z-index: 1;
			}

			div {
				visibility: visible;
			}
		}
	}

	#member_list {
		display:block;
		width: calc(100% - 80px);
		height: 300px;
		padding: 15px;
		border: 4px solid $accent_color;
		border-radius: 5px;
		position: relative;
		margin: auto;
		margin-top: 20px;

		&:before {
			content:"members_";
			position: absolute;
			top: -30px;
			left: -4px;
			background-color: $accent_color;
			color: $background-color;
			height: 20px;
			padding: 5px 20px;
			border-radius: 5px 5px 5px 0;
		}
	}

	.member_card {
		padding: 14px;
		cursor: pointer;
		text-align: left;
		font-size: 18px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		&:hover {
			background-color: $accent_color;
			color: $background-color;

			a {
				color: black;
			}
		}

		a {
			color: white;

			&:hover {
				text-decoration: underline;
			}
		}

		.member_status i {
			margin: 5px;
			text-align: right;
			
			&.inactive {
				color: $dark-gray;
			}

			&.action:hover {
				transform: scale(1.05);
			}

			&.action.inactive.bad:hover {
				color: $red;
			}
			&.action.active.bad:hover {
				color: green;
			}

			&.action.inactive.good:hover {
				color: green;
			}
			&.action.active.good:hover {
				color: $red;
			}
		}
	}

	#add_member_button {
		border: 2px solid $accent_color;
		color: white;
		border-radius: 5px;
		width: 70%;
		margin:auto;
		margin-top: 20px;
		padding: 10px;
		font-size: 18px;
		cursor: pointer;
		i {
			margin-right: 10px;
		}
		&:hover {
			background-color: $accent_color;
			color: $background-color;
			// transform: scale(1.05);
		}
	}

	#leave_button {
		border: 2px solid $accent_color;
		color: white;
		border-radius: 5px;
		width: 70%;
		margin:auto;
		margin-top: 60px;
		padding: 10px;
		font-size: 18px;
		cursor: pointer;

		i {
			margin-right: 10px;
		}

		.fa-door-open {
			display: none;
		}

		&:hover {
			background-color: $red;
			border: 2px solid $red;
			// transform: scale(1.05);

			.fa-door-open {
				display: inline;
			}

			.fa-door-closed {
				display: none;
			}
		}
	}
}
