
$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$light-gray: #E3E3E3;
$dark-gray: #919191;


#channelAdmin {
	position: absolute;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	display: flex;
	background-color: $background-color;
	z-index: 3;
	padding: 10px;
	outline: 4px solid $background-color;
	.closeIcon {
		font-size: 35px;
		position: absolute;
		right: 15px;
		top: 15px;
		cursor: pointer;
		// color: $accent_color;
	}
}
