$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$light-gray: #E3E3E3;
$dark-gray: #919191;


// ***************************************** CHANNEL LIST

#channelList {
	height: 100%;
	width:100%;
	display: flex;
	position: absolute;
}

.channelList {
	// background-color: red;
	height: calc(100% - 90px);
	padding: 10px 0 10px 10px;
	overflow-y: scroll;
	position: relative;
}

.channelListWrapper {
	height: 100%;
	// width: 320px;
	width: 100%;
	background-color: $background-color;
	outline: 4px solid $background-color;
	color: $background-color;
	z-index: 1;
	text-align: left;
	color: white;
}

.channelListWrapper .closeIcon {
	font-size: 35px;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

.channelListTitle {
	color: $accent_color;
	font-size: 20px;
	font-family: "Dogica";
	margin: 20px 0 20px 40px;
}

.channel {
	display: flex;
	gap: 10px;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	margin: 5px 10px;
	padding: 10px;
	overflow-wrap: anywhere;
}

.channel.selected {
	background-color: $light-gray;
	color: $background-color;
}

.channel:not(.selected):hover {
	background-color: $dark-gray;
}

.channelImg {
	width: 35px;
	height: 35px;
	background-color: $dark-gray;
	border: 2px solid white;
	border-radius: 5px;
	position: relative;
}

.channelName {
	width: 80%;
}

.dm::after {
	content:"";
	width: 15px;
	height:  15px;
	background-color: green;
	position: absolute;
	bottom: -5px;
	right: -5px;
	border-radius: 50%;
}

// ************************* SEARCH BAR

.channelSearchBar {
	display: flex;
	width: calc(100% - 90px);
	height: 25px;
	margin: 15px 10px 10px 10px;
	background-color: $background-color;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px 10px;
}

#channelSearch {
	flex-grow: 2;
	font-size: 14px;	
	outline: none;
	font-family: "Fira Mono";
	color: white;
	background-color: $background-color;
	border: none;
}

#channelSearch::placeholder {
	color: $light-gray;
}

#searchButton {
	padding-top: 2px;
	padding-left: 5px;
	font-size: 20px;
	color: #ababab;
}

// ****************** SEPARATOR

.separator {
	font-size: 14px;
	display: flex;
	width: 90%;
	margin-left: 10px;
	margin-top: 5px;
	padding-bottom: 10px;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	// overflow: visible;
}

.separator div:first-child {
	flex-grow: 2;
	color: $light-gray;
}

.separator div:first-child:hover {
	color: white;
}

.add_channel_button {
	font-size: 25px;
	color: $background-color;
	background-color: white;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50%;
	line-height: 85%;
	margin-top: -2px;
	cursor: pointer;
	background-color: $accent_color;
	display: inline-block;
}

.add_channel_button .tooltiptop {
	position: absolute;
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 140px;
	height: 20px;
	padding: 3px 0;
	background-color: $accent_color;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	margin-left: -165px;
	margin-top: -3px;
	z-index: 2;
	pointer-events: none;
	transition: opacity 0.5s;
}

.add_channel_button .tooltiptop::after {
	content: " ";
	position: absolute;
	top: 50%; /* At the bottom of the tooltip */
	left: 100%;
	margin-top: -5px;
  	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent $accent_color;
}


.add_channel_button:hover .tooltiptop {
	visibility: visible;
	opacity: 1;
}

.separator div:first-child i {
	width: 10px;
	margin: 0 10px 0 0;
}

.publicChannels {
	margin-bottom: 20px;
}

.no_chan{
	font-size: 13px;
	margin-top: 5px;
	color: gray;
	text-align: center;
}