$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$light-gray: #E3E3E3;
$dark-gray: #919191;

#addChanWrapper {
	background-color: rgba(35, 35, 35, 0.7) ;
	position: absolute;
	z-index: 2;
	width: 370px;
	height: 670px;
}

#addChan {
	position: relative;
	margin: auto;
	background-color: $background-color;
	width: 320px;
	min-height: 300px;
	border: 4px solid $accent_color;
	z-index: 2;
	top: 130px;
	border-radius: 5px;

	.closeIcon {
		font-size: 30px;
		position: absolute;
		right: 15px;
		top: 10px;
		color: $accent_color;
		cursor: pointer;
	}
	
	p:first-child {
		margin-top: 40px;
		margin-left: 20px;
		text-align: left;
	}

	.infosChan {
		font-size: 12px;
		padding: 15px 10px;
		color: $dark-gray;
	}

	form {
		label {
			display: inline-block;
			text-align: left;
			margin: 10px;
			margin-left: 30px;
			width: 100%;
		}
		input {
			display: inline-block;
			background-color: $background-color;
			border: 2px solid $accent_color;
			border-radius: 5px;
			padding: 10px;
			width: 260px;
			margin-left: -10px;
			margin-top: 10px;
			margin-bottom: 10px;
			color: white;
			font-family: "Fira Mono";
			outline: none;
		}

		#passwordLabel {
			position: relative;
			span {
				position: absolute;
				top: 5px;
				right: 50px;
				font-size: 12px;
				color: $dark-gray;
			}
			input {
				padding-right: 35px;
				width: 235px;
			}
			i {
				width: 20px;
				cursor: pointer;
				position: absolute;
				right: 55px;
				bottom: 23px;
			}
		}

		.passwordInput {
			-webkit-text-security: disc;
		}
		
		input[type="submit"].readyToSubmit // readysubmit
		{
			background-color: $accent_color;
			color: $background-color;
			cursor: pointer;
		}

		input[type="submit"]
		{
			font-size: 13px;
			font-family: "Dogica Pixel";
			margin: auto;
			margin-top: 15px;
			margin-bottom: 20px;
			width: auto;
			padding: 15px;
			cursor: not-allowed;
		}

		.errorChanCreation {
			font-size: 12px;
			background-color: #d9534a;
			margin: 15px 15px 0 15px;
			padding: 10px 5px;
			border-radius: 5px;
			position: relative;

			i {
				display: inline-block;
				position: absolute;
				top: -25px;
				left: 10px;
				background-color: #d9534a;
				padding: 6px 8px;
				font-size: 18px;
				border-radius: 5px 5px 0 0;

				span {
					font-family: "Fira Mono";
					margin-left: 5px;
					margin-right: 2px;
				}
			}
		}
	}
}

#addChan:before {
	content:"Create new channel_";
	position: absolute;
	top: -30px;
	left: -4px;
	background-color: $accent_color;
	color: $background-color;
	height: 20px;
	padding: 5px 20px;
	border-radius: 5px 5px 5px 0;
}

#typeChanSelect {
	margin-top: 12px;
	display: flex;
	justify-content: space-evenly;
	div {
		padding: 13px 2px;
		min-width: 85px;
		border: 2px solid $accent_color;
		border-radius: 5px;
		font-family: "Dogica Pixel";
		font-size: 13px;
		cursor: pointer;
	}
	.selected {
		background-color: $accent_color;
		color: $background-color;
	}
}