$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$light-gray: #E3E3E3;
$dark-gray: #919191;
$green: #81A439;

#game
{
	.window_header {
		margin-bottom: 4px;
		display: flex;
		align-content: center;
		justify-content: left;
		padding-top: 8px;
		height: 30px
	}
}

#game_window
{
	display: inline-block;
	height: 100%;
	width: 100%;
}

#game_creation {

	.back_button {
		font-size: 26px;
		cursor: pointer;
		margin: -5px 30px 0 10px;
		color: $dark-gray;

		&:hover {
			color: $background-color;
			// transform: scale(1.15);
		}
	}

	.fa-meteor {
		font-size: 22px;
		margin: -4px 10px 0 0;
	}

	#game_settings_button {
		display: flex;
		font-family: "Dogica";
		justify-content: space-evenly;
		align-content: center;
		margin-top: 60px;
		
		.settings_arrows {
			width: 50px;
			&.active {
				cursor: pointer;
			}
			&.disabled {
				cursor: initial;
			}
		}

		.settings_value {
			margin: 10px;
			font-size: 30px;
			user-select: none;
			height: 40px;
			padding: 25px 0;
		}

		#goal div:first-child, #speed div:first-child, #boost div:first-child, #map div:first-child {
			font-size: 20px;
			user-select: none;
			// background-color: $accent_color;
			padding: 14px 10px;
			width: 100px;
			margin: auto;
			margin-bottom: 30px;
			color: $background-color;
			// border-radius: 5px;
			background-image: url("../assets/img/plate.svg");
			background-size: contain;
			background-repeat: no-repeat;
		}

		#goal .settings_value {
			width: 100px;
			text-align: center;
			font-size: 50px;
		}

		#speed .settings_value {
			width: 155px;
			text-align: center;
			cursor: pointer;
			font-size: 25px;
		}

		.slow_speed p{
			letter-spacing: 12px;
			// width: 130px;
			margin-left: 11px;
		}

		.fast_speed {
			padding-left: 65px;
			// letter-spacing: -5px;
			background-image: url("../assets/img/fast_line.svg");
			background-size: 50%;
			background-repeat: no-repeat;
			// background-position: -65% 0% ;
		}

		.speedometer {
			margin-bottom: 20px;
			width: 120px;
		}

		#boost {
			#toggle {
				padding-top: 15px;
				position: relative;
			}
			p {
				display: inline-block;
				width: 85px;
				user-select: none;
				position: absolute;
				font-size: 25px;
				cursor: pointer;
				left: 14%;
				height: 45px;
				top: 15%;
				padding: 20px 0 0px 0;

				&.active {
					color: $background-color;
				}

				&.disabled {
					color: white;
				}
			}
			#off:before {
				content: "";
				height: 10px;
				width: 68px;
				position: absolute;
				top: -10px;
			}
			#on {
				top: 52%;
			}
			#on:before {
				content: "";
				height: 10px;
				width: 68px;
				position: absolute;
				bottom: -10px;
				left: 8px;
			}
			svg {
				width: 85px;
				// cursor: pointer;
			}
		}

		#map .settings_value {
			// p {
			// 	font-size: 20px;
			// 	background-color: ;
			// 	padding-top: 10px;
			// }
			width: 140px;
			color: transparent;
			// font-weight: bold;
			
			// background-color: red;
			border: 4px solid $accent_color;
			border-radius: 5px;
			
			background-size: 90%;
			background-repeat: no-repeat;
			background-position: 65% 50% ;

			&.space {
				background-image: url("../assets/img/space_map_preview.svg");
			}
			&.street {
				background-image: url("../assets/img/street_fighter_preview.png");
			}

			&.mario {
				background-image: url("../assets/img/mario_preview_2.png");
			}
		}
	}

	#create_game_button {
		width: 300px;
		height: 30px;
		margin: auto;
		margin-top: 180px;
		background-color: $accent_color;
		color: $background-color;
		border-radius: 5px;
		padding: 20px 15px 15px 15px;
		cursor: pointer;
		font-size: 25px;
		font-family: "Dogica";
		font-weight: bold;

		&::selection {
			color: $background-color;
		}
	}
}

#pong_game {
	position: relative;
	
	#end_screen {
		border: 4px solid $accent_color;
		position: absolute;
		padding: 20px;
		top: 40%;
		left: 35%;
		width: 200px;
		// height: 200px;
		background-color: $background-color;

		#back_button {
			background-color: $accent_color;
			color: $background-color;
			cursor: pointer;
			width: 150px;
			height: 30px;
			margin: auto;
			margin-top: 20px;
			border-radius: 5px;
		}
	}
}