#game
{
	width: 100%;
	height: 100%;
	margin-right: 17px;
	// border: 1px solid red;
	.window_header {
		margin-bottom: 4px;
	}
}

#game_window
{
	display: inline-block;
	height: 100%;
	width: 100%;
}

#landing_game {

	#current_game_list {
		width: 80%;
		height: 300px;
		margin:auto;
		background-color: gray;
	}
}