$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$light-gray: #E3E3E3;
$dark-gray: #919191;
$green: #81A439;

#game
{
	.window_header {
		margin-bottom: 4px;
		display: flex;
		align-content: center;
		justify-content: left;
		padding-top: 8px;
		height: 30px
	}
}

#game_window
{
	display: inline-block;
	height: 100%;
	width: 100%;
}

#landing_game {

	.window_header i {
		font-size: 22px;
   		margin: -2px 10px 0 30px;
	}

	#game_start_buttons {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		margin: 50px 0;

		div {
			width: 250px;
			height: 100px;
			background-color: $accent_color;
			color: $background-color;
			cursor: pointer;
			padding: 20px;

			
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	#current_game_list {
		width: 80%;
		height: 300px;
		margin:auto;
		background-color: gray;
	}
}

#game_creation {

	
	.back_button {
		font-size: 26px;
		cursor: pointer;
		margin: -5px 30px 0 10px;
		color: $dark-gray;

		&:hover {
			color: $background-color;
			// transform: scale(1.15);
		}
	}

	.fa-meteor {
		font-size: 22px;
		margin: -4px 10px 0 0;
	}

	#game_settings_button {
		display: flex;
		font-family: "Dogica";
		justify-content: space-evenly;
		align-content: center;
		margin-top: 100px;
		
		.settings_arrows {
			width: 50px;
			cursor: pointer;
		}

		.settings_value {
			margin: 20px;
			font-size: 30px;
		}

		#goal div:first-child, #speed div:first-child, #boost div:first-child, #map div:first-child {
			font-size: 20px;
			margin-bottom: 20px;
		}

		#goal .settings_value {
			width: 55px;
			text-align: center;
		}
	}
}