$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;

.login {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#login_button {
	display: inline-block;
	width: 250px;
	margin: 20px;
	font-size: 25px;
	padding: 20px 20px;
	color: $accent_color;
	border: 2px solid $accent_color;
	border-radius: 5px;
	transition: background-color 0.2s, color 0.2s;
}

#login_button:hover {
	background-color: $accent_color;
	color: $background-color;
	
}