$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$light-gray: #E3E3E3;
$dark-gray: #919191;

.login {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	#logo p {
		font-size: 160px;
		height: 180px;
	}

	#logo {
		margin-bottom: 100px;
	}
}

#login_button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 350px;
	height: 100px;
	margin: 20px;
	font-size: 25px;
	color: $accent_color;
	border: 3px solid $accent_color;
	border-radius: 5px;
	transition: background-color 0.1s, color 0.1s;
	font-size: 36px;
	font-family: "Dogica";

	svg {
		width: 105px;
		path {
			transition: stroke 0.1s;
		}
	}
}

#login_button:hover {
	background-color: $accent_color;
	color: $background-color;
	
	svg path{
		stroke: $background-color;
	}
}

#ghosts {
	position: absolute;
	display: flex;
	// padding-top: 200px;
	bottom: 50px;
	gap: 20px;
}

.ghost_button {
	cursor: pointer;
	padding: 15px 10px;
	border: 2px solid $dark-gray;
	font-family: "Dogica";
	font-size: 15px;
	color: $dark-gray;
	min-width: 200px;
	border-radius: 4px;

	i {
		font-size: 25px;
		width: 25px;
		margin: auto;
		margin-right: 10px;
	}

	&:hover {
		background-color: $dark-gray;
		color: white;
	}
}