$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$online_dot: #81A439;
$offline_dot: #919191;
$profile_background: rgb(65, 62, 62);
$dark-gray: #3E3E3E;


.profile{
    display: flex;
    justify-content: center;
    width: 980px;
    height: 667px;
    // border: 1px solid red;
    margin: auto;
    gap: 20px;

    .header_title {
    	text-align: left;
		height: 30px;
    	padding-top: 8px;

		i {
			visibility: hidden;
		}
    }

	#column_left{
        display: flex;
        flex-direction: column;
        gap: 10px;
		max-width: 40%;
    }
    
    #column_right{
        flex-grow: 2;
        display: flex;
        flex-direction: column;
		gap: 10px;
		// min-width: 60%;
	}
    
    #user_window .border_div {
        background-color: $accent_color;
		
		&:after, &:before{
    		background-color: $accent_color;
		}
	}

	#avatar {
		border: 5px solid white;
		border-radius: 5px;
	}
	
	#user_window {
		height: 230px;
	    background-color: $accent_color;
		
		#user_card {
	    	outline: 4px solid $accent_color ;
	    	height: 230px;
			width: 300px;
			color: $background-color;
			font-size: 15px;
			display: flex;
			flex-direction: column;
			justify-content:start;
			gap: 10%;

			#row_top {
				padding: 5px;
				font-size: 20px;
				display: flex;

				.profile_display {
					height: 100px;
					width: 100px;
					border: 6px solid white;
					border-radius: 5px;
					background-color: $dark-gray;
					color: white;

					span {
						display: inline-block;
						width: 100px;
						position: relative;
						top: 20px;
						font-family: "Dogica";
						font-size: 60px;
					}

					img {
						position: relative;
						top: -59px;
						left: -1px;
						width: 102px;
						height: 102px;
						object-fit: cover;
						object-position: left;
					}
				}

				.column_right {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					width: 220px;
					margin: 0px 5px;

					.name {
						// display: inline-block;
						width: 180px;
						font-family: "Dogica";
						font-size: 20px;
						text-align: start;
						overflow: wrap;
						overflow-wrap: anywhere;
					}

					.status {
						display: flex;
						flex-direction: row;
						flex-grow: 2;
						// margin: auto 10px auto 0px;
	
						.dot_status {
							width: 15px;
							height: 15px;
							border-radius: 50%;
							margin: 10px;

							&.online {
								background-color: $online_dot;
							}

							&.offline {
								background-color: $offline_dot;
							}
						}
						
						p {
							font-family: "Fira Mono";
							font-size: 18px;
							margin-top: 7px;
						}
					}

					.rank {
						display: flex;
						font-family: "Dogica";
						justify-content: right;

						span:nth-child(1) {
							font-size: 12px;
							padding: 5px;
						}

						span:nth-child(2) {
							font-size: 20px;
						}
					}
				}
			}

			.mid_banner {
				position: relative;
				top: -15px;
				left: -15px;
				width: 321px;
				height: 100px;
				background-color: white;
				border: 5px solid white;
				border-radius: 5px;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;

				div {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					width: 120px;

					span:nth-child(1) {
						font-family: "Dogica";
						font-size: 30px;
						padding: 3px;
					}

					span:nth-child(2) {
						font-family: "Dogica";
						font-size: 15px;
						padding: 3px;
					}
				}

				i {
					color: $accent_color;
					font-size: 40px;
					padding: 4px;
				}
			}

			.stats {
				display: inline-block;
				position: relative;
				top: -25px;
				font-family: "Fira Mono";
				font-size: 15px;
				text-overflow: clip;

				i {
					font-family: "Dogica";
					font-size: 16px;
					font-style: normal;
				}
			}
		}
	}
	

    #friend_window {
        flex-grow: 2;

		#list_friends {
			position: relative;
			top: 4px;
			height: 320px;
			width: 292px;
			overflow-y: scroll;
			padding: 8px 0px 8px 8px;
			display: flex;
			flex-direction: column;
			gap: 5px;

			.friends_info {
				font-family: "Dogica";
				font-size: 15px;
				display: flex;
				align-items: center;
				border: 10px solid transparent;
				border-radius: 5px;
				gap: 15px;

				&:hover {
					background-color: gray;
					cursor: pointer;
				}

				.profile_display {
					height: 50px;
					width: 50px;
					border: 4px solid white;
					border-radius: 3px;
					background-color: $dark-gray;
					color: white;

					span {
						display: inline-block;
						width: 50px;
						position: relative;
						top: 10px;
						font-family: "Dogica";
						font-size: 30px;
					}

					img {
						position: relative;
						top: -27px;
						left: 0px;
						width: 51px;
						height: 51px;
						object-fit: cover;
						object-position: left;
					}
				}
			}
		}	
    }
	
	#history_window {
        flex-grow: 2;

		#list_matches {
			position: absolute;
			top: 42px;
			left: -5px;
			height: 430px;
			width: 610px;
			overflow-y: scroll;
			margin: 0px;
			padding: 0px;
			display: flex;
			flex-direction: column;

			.match_info {
				width: 99%;
				height: 75px;
				display: flex;
				align-items: center;
				border: 3px solid white;
			}
		}
    }

	#achievement_imgs {
		display: flex;
		justify-content: space-evenly;
		padding: 5px;
		gap: 10px;
		.empty {
			height: 90px;
			width: 180px;
			background-color: gray;
		}
	}


}
