$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;

.profile{
    display: flex;
    justify-content: center;
    width: 980px;
    height: 667px;
    // border: 1px solid red;
    margin: auto;
    gap: 20px;

    .header_title {
    	text-align: left;
		height: 30px;
    	padding-top: 8px;
    	// overflow: hidden;
    	// white-space: nowrap;
    	// text-overflow: ellipsis;
    }

    .status {
        display: flex;
        gap: 10px;
        .dot_status {
            width: 15px;
            height: 15px;
            border-radius: 10px;
        }
        #online {
            background-color: green;
        }
        #offline {
            background-color: grey;
        }
    }

    #column_left{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    #column_right{
        flex-grow: 2;
        display: flex;
        flex-direction: column;
		gap: 10px;
	}
    
    #user_window .border_div {
        background-color: $accent_color;
    }

    #user_window .border_div:after, #user_window .border_div:before {
        background-color: $accent_color;
    }

    #friend_window {
        flex-grow: 2;
    }
	
	#history_window {
        flex-grow: 2;
    }

	#achievement_imgs {
		display: flex;
		justify-content: space-evenly;
		padding: 5px;
		.empty {
			height: 90px;
			width: 180px;
			background-color: gray;
		}
	}


}


#user_card{
    // border: 1px solid red;
    outline: 4px solid $accent_color ;
    background-color: $accent_color;
    height: 100%;
}

#avatar {
    width: 50%;
    justify-content: left;
}

#friends {
    align-items: right;
}