$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;

#picture {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#friends {
    display: flex;
    align-items: right;
}