$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$online_dot: #81A439;
$offline_dot: #919191;
$profile_background: rgb(65, 62, 62);
$dark-gray: #3E3E3E;
$gray: #919191;
$light-gray: #E3E3E3;

// Scheme : classname | background-color | hover | text-color
$scheme1: match_wrapper $background-color $dark-gray white;
$scheme2: match_wrapper_focus white white black;

$schemes: $scheme1 $scheme2;

.profile{
    display: flex;
    justify-content: center;
    width: 980px;
    height: 667px;
    margin: auto;
    gap: 20px;

    .header_title {
    	text-align: left;
		height: 30px;
    	padding-top: 8px;

		i {
			visibility: hidden;
		}
    }

	#column_left{
        display: flex;
        flex-direction: column;
        gap: 10px;
		max-width: 40%;
    }
    
    #column_right{
        flex-grow: 2;
        display: flex;
        flex-direction: column;
		gap: 10px;
		// min-width: 60%;
	}
    
    #user_window .border_div {
        background-color: $accent_color;
		
		&:after, &:before{
    		background-color: $accent_color;
		}
	}

	#avatar {
		border: 5px solid white;
		border-radius: 5px;
	}
	
	#user_window {
		height: 230px;
	    background-color: $accent_color;
		
		#user_card {
	    	outline: 4px solid $accent_color ;
	    	height: 230px;
			width: 300px;
			color: $background-color;
			font-size: 15px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			gap: 10%;

			#row_top {
				padding: 5px;
				font-size: 20px;
				display: flex;

				.profile_display {
					height: 100px;
					width: 100px;
					border: 6px solid white;
					border-radius: 5px;
					background-color: $dark-gray;
					color: white;

					span {
						display: inline-block;
						width: 100px;
						position: relative;
						top: 20px;
						font-family: "Dogica";
						font-size: 60px;
					}

					img {
						position: relative;
						top: -59px;
						left: -1px;
						width: 102px;
						height: 102px;
						object-fit: cover;
						object-position: left;
					}
				}

				.column_right {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					width: 220px;
					margin: 0px 5px;

					.name {
						// display: inline-block;
						width: 180px;
						font-family: "Dogica";
						font-size: 20px;
						text-align: start;
						overflow: wrap;
						overflow-wrap: anywhere;
					}

					.status {
						display: flex;
						flex-direction: row;
						flex-grow: 2;
						// margin: auto 10px auto 0px;
	
						.dot_status {
							width: 15px;
							height: 15px;
							border-radius: 50%;
							margin: 10px;

							&.online {
								background-color: $online_dot;
							}

							&.offline {
								background-color: $offline_dot;
							}
						}
						
						p {
							font-family: "Fira Mono";
							font-size: 18px;
							margin-top: 7px;
						}
					}

					.rank {
						display: flex;
						font-family: "Dogica";
						justify-content: right;

						span:nth-child(1) {
							font-size: 12px;
							padding: 5px;
						}

						span:nth-child(2) {
							font-size: 20px;
						}
					}
				}
			}

			.mid_banner {
				position: relative;
				top: -15px;
				left: -15px;
				width: 321px;
				height: 100px;
				background-color: white;
				border: 5px solid white;
				border-radius: 5px;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;

				div {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					width: 120px;

					span:nth-child(1) {
						font-family: "Dogica";
						font-size: 30px;
						padding: 3px;
					}

					span:nth-child(2) {
						font-family: "Dogica";
						font-size: 15px;
						padding: 3px;
					}
				}

				i {
					color: $accent_color;
					font-size: 40px;
					padding: 4px;
				}
			}

			.stats {
				display: inline-block;
				position: relative;
				top: -25px;
				font-family: "Fira Mono";
				font-size: 15px;
				text-overflow: clip;

				i {
					font-family: "Dogica";
					font-size: 16px;
					font-style: normal;
				}
			}
		}
	}
	

    #friend_window {
        flex-grow: 2;

		#list_friends {
			position: relative;
			top: 4px;
			height: 320px;
			width: 295px;
			overflow-y: scroll;
			padding: 8px 0px 0px 5px;
			display: flex;
			flex-direction: column;
			gap: 5px;

			.friends_info {
				font-family: "Dogica";
				font-size: 15px;
				display: flex;
				align-items: center;
				border: 10px solid transparent;
				border-radius: 5px;
				margin-right: 4px;
				gap: 15px;
				color: white;

				&:hover {
					background-color: $dark-gray;
					cursor: pointer;
				}

				.profile_display {
					height: 50px;
					width: 50px;
					border: 4px solid white;
					border-radius: 3px;
					background-color: $dark-gray;
					color: white;

					span {
						display: inline-block;
						width: 50px;
						position: relative;
						top: 10px;
						font-family: "Dogica";
						font-size: 30px;
					}

					img {
						position: relative;
						top: -27px;
						left: 0px;
						width: 51px;
						height: 51px;
						object-fit: cover;
						object-position: left;
					}
				}
			}
		}	
    }
	
	#history_window {
        flex-grow: 2;

		#list_matches {
			position: absolute;
			top: 42px;
			left: -5px;
			height: 421px;
			width: 606px;
			overflow: hidden;
			overflow-y: scroll;
			display: flex;
			flex-direction: column;

			@each $scheme in $schemes {
				.#{nth($scheme, 1)} {
					width: 99%;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					border-right: 3px solid white;
					border-bottom: 3px solid white;
					background-color: nth($scheme, 2);
	
					&:hover {
						background-color: nth($scheme, 3);
						cursor: pointer;
					}
	
					.match_info {
						width: 100%;
						display: flex;
						flex-direction: row;
						justify-content: space-evenly;
						align-items: center;
		
						.profile_display {
							height: 40px;
							width: 40px;
							border: 5px solid white;
							border-radius: 3px;
							outline: 1px solid $background-color;
							background-color: $dark-gray;
							color: white;
		
							span {
								display: inline-block;
								width: 40px;
								position: relative;
								top: 8px;
								font-family: "Dogica";
								font-size: 24px;
							}
		
							img {
								position: relative;
								top: -26px;
								left: -1px;
								width: 41px;
								height: 41px;
								object-fit: cover;
								object-position: left;
							}
						}
		
						.name_display {
							display: flex;
							flex-direction: column;
							width: 120px;
							overflow: wrap;
							overflow-wrap: anywhere;
		
							i {
								color: $accent_color;
								font-size: 16px;
								padding-bottom: 5px;
							}
		
							span {
								font-family: "Dogica";
								font-size: 14px;
								color: nth($scheme, 4);
							}
						}
		
						.score_display {
							width: 50px;
							font-family: "Dogica";
							font-size: 25px;
							color: nth($scheme, 4);
						}
		
						.sabers_display {
							width: 50px;
							height: 50px;
							margin-top: 12px;
							margin-bottom: 12px;
						}
					}
	
					.match_focus {
						display: flex;
						flex-direction: row;
						justify-content: space-evenly;
						width: 100%;
						border: 0px;
						margin: 0px;
						background-color: white;
						color: $gray;
	
						div {
							padding-bottom: 10px;
	
							span {
								font-family: "Fira Mono";
								font-size: 12px;
							}
						}
					}
				}
			}
		}
    }

	#achievement_imgs {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding: 5px;
		gap: 10px;

		.achievement {
			display: flex;
			flex-direction: column;
			height: 90px;
			width: 180px;

			i {
				color: $gray;
				font-size: 60px;
				margin: 8px;
			}

			span {
				font-family: "Fira Mono";
				font-size: 13px;
				font-style: italic;
			}
		}
	}


}
