$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;

.rotate_right
{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotate_left
{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

// ************ BORDER WINDOW

.window
{
	position: relative;
	margin: 15px;
    flex-grow: 0;
    flex-shrink: 0;
}

.border_div {
	position: absolute;
	background-color: white;
}

.border_top, .border_bottom {
	height: 4px;
	width: 100%;
}

.border_right, .border_left {
	height: 100%;
	width: 4px;
	top: 0px;
}

.border_bottom {
	bottom: -8px;
	left: 0px;
}

.border_right {
	right: -8px;
}

.border_top{
	left: 0px;
	top: -8px;
}

.border_left {
	left: -8px;
}

.border_top:after {
	content: "";
	position: absolute;
	background-color: white;
	width: 4px;
	height: 4px;
	left: -4px;
	top: 4px;
	z-index: 2;
}

.border_top:before {
	content: "";
	position: absolute;
	background-color: white;
	width: 4px;
	height: 4px;
	right: -4px;
	top: 4px;
	z-index: 2;
}

.border_bottom:after {
	content: "";
	position: absolute;
	background-color: white;
	width: 4px;
	height: 4px;
	left: -4px;
	top: -4px;
	z-index: 2;
}

.border_bottom:before {
	content: "";
	position: absolute;
	background-color: white;
	width: 4px;
	height: 4px;
	right: -4px;
	top: -4px;
	z-index: 2;
}

// ************ WINDOW HEADER

.window_header {
	height: 40px;
	background-color: white;
	color: $background-color;
	width: 100%;
	outline: 4px solid white;
	font-family: "Dogica", "Fira Mono";
	font-size: 16px;
}

// ************ NAVBAR

#navBar
{
	position: relative;
	display:flex;
	margin-left: calc(100vw - 26px);
	margin-top: -100px;
}

.navButton
{
	position: relative;
	display: flex;
	align-items: center;
	background-color: $text-color;
	margin: 0;
	padding: 40px 20px 15px 20px;
	margin-right: 10px;
}

.navButton i
{
	color: $background-color;
	font-size: 25px;
	margin-right: 8px;
}

.navButton:hover {
	top: 8px;
}

.navButton:before
{
	content: "";
	position: absolute;
	bottom: -1px;
	right: -1px;
	height: 6px;
	width: 6px;
	background-color: $background-color;
}

.navButton:after
{
	content: "";
	position: absolute;
	bottom: -1px;
	left: -1px;
	height: 6px;
	width: 6px;
	background-color: $background-color;
}

.navButton span
{
	color: $background-color;
	font-family: "Dogica", "Fira Mono";
	font-size: 14px;
}

// ********** SCROLL BAR

* {
	scrollbar-width: thin;
	scrollbar-color: white;
}

*::-webkit-scrollbar {
	width: 9px;
	background: none;
}

*::-webkit-scrollbar-track {
	background: none;
	width: 9px;
}

*::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 4px;
}

// @media (max-height: 1000px) { 

// 	#navBar {
// 		position: absolute;
// 		display: flex;
// 		right: -240px;
// 		top: 300px;
// 		margin-top: 0;
// 	}
// }

