$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$red: #BF3030;

.rotate_right
{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotate_left
{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

// ************ BORDER WINDOW

.window
{
	position: relative;
	margin: 15px;
    flex-grow: 0;
    flex-shrink: 0;
}

.border_div {
	position: absolute;
	background-color: white;
}

.border_top, .border_bottom {
	height: 4px;
	width: 100%;

	&.double {
		height: 8px;
	}
}

.border_right, .border_left {
	height: 100%;
	width: 4px;
	top: 0px;

	&.double {
		width: 8px;
	}
}

.border_bottom {
	bottom: -8px;
	left: 0px;
}

.border_right {
	right: -8px;
}

.border_top{
	left: 0px;
	top: -8px;
}

.border_left {
	left: -8px;
}

.border_top:after {
	content: "";
	position: absolute;
	background-color: white;
	width: 4px;
	height: 4px;
	left: -4px;
	top: 4px;
	z-index: 2;
}

.border_top:before {
	content: "";
	position: absolute;
	background-color: white;
	width: 4px;
	height: 4px;
	right: -4px;
	top: 4px;
	z-index: 2;
}

.border_bottom:after {
	content: "";
	position: absolute;
	background-color: white;
	width: 4px;
	height: 4px;
	left: -4px;
	top: -4px;
	z-index: 2;
}

.border_bottom.double:after {
	top: 0px;
}

.border_bottom:before {
	content: "";
	position: absolute;
	background-color: white;
	width: 4px;
	height: 4px;
	right: -4px;
	top: -4px;
	z-index: 2;
}

.border_bottom.double:before {
	top: 0px;
}

// ************ WINDOW HEADER

.window_header {
	height: 40px;
	background-color: white;
	color: $background-color;
	width: 100%;
	outline: 4px solid white;
	font-family: "Dogica", "Fira Mono";
	font-size: 16px;
}

// ************ NAVBAR

#navBar
{
	position: relative;
	display:flex;
	margin-left: calc(100vw - 26px);
	margin-top: -100px;
}

.navButton
{
	position: relative;
	display: flex;
	align-items: center;
	background-color: $text-color;
	margin: 0;
	padding: 40px 20px 15px 20px;
	margin-right: 10px;
}

.navButton i
{
	color: $background-color;
	font-size: 25px;
	margin-right: 8px;
}

.navButton:hover {
	top: 8px;
}

.navButton:before
{
	content: "";
	position: absolute;
	bottom: -1px;
	right: -1px;
	height: 6px;
	width: 6px;
	background-color: $background-color;
}

.navButton:after
{
	content: "";
	position: absolute;
	bottom: -1px;
	left: -1px;
	height: 6px;
	width: 6px;
	background-color: $background-color;
}

.navButton span
{
	color: $background-color;
	font-family: "Dogica", "Fira Mono";
	font-size: 14px;
}

// ********** SCROLL BAR

* {
	scrollbar-width: thin;
	scrollbar-color: white;
}

*::-webkit-scrollbar {
	width: 9px;
	background: none;
}

*::-webkit-scrollbar-track {
	background: none;
	width: 9px;
}

*::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 4px;
}

#search_user {
	margin-top: 10px;
	background-color: $accent_color;
	color: $background-color;
	padding: 10px;
	border-radius: 5px;

	.search_bar {
		background-color: white;
		color: $background-color;
		padding: 5px 0;
		border-radius: 5px;
		position: relative;

		input {
			margin-left: 0;
			padding: 2px;
			background-color: white;
			color: $background-color;
			&::placeholder {
				color: $background-color;
			}
		}
		i {
			font-size: 16px;
			color: $background-color;
			cursor: pointer;
		}
	}

	#list {
		margin-top: 10px;
		height: 130px;
		overflow-y: scroll;

		div {
			padding: 10px;
			font-family: "Dogica";
			font-size: 14px;

			&:hover {
				background-color: white;
				color: $background-color;
				cursor: pointer;
			}

			&.selected {
				background-color: $background-color;
				color: $accent_color;
			}
		}
	}
}

#fusibles {
	display: flex;
	width: 140px;
	gap: 6px;
}

#time {
	width: 145px;
	position: relative;

	div{
		font-family: "Dogica";
		font-size: 32px;
		position: absolute;
		top: 24px;
		left: 17px;
		letter-spacing: -3px;
		user-select: none;
	}
}

// @media (max-height: 1000px) { 

// 	#navBar {
// 		position: absolute;
// 		display: flex;
// 		right: -240px;
// 		top: 300px;
// 		margin-top: 0;
// 	}
// }

// ********** TOAST

.Toastify__progress-bar {
	background-color: $accent_color;
}

.Toastify__toast-container--top-center {
	margin-top: 30px;
}

#invitation {
	font-family: "Dogica";
	color: $background-color;
	p {
		margin-top: 5px;
		text-align: center;
		span {
			display: inline-block;
			color: $accent_color;
			font-size: 20px;
			margin-bottom: 5px;
		}
	}

	#buttons {
		display: flex;
		justify-content: space-between;
		margin: 25px 0 15px 0;
		// gap: 10px;
	}
	
	#buttons div {
		background-color: $accent_color;	
		padding: 10px 20px;
		position: relative;

		&:before {
			content: "";
			width: calc(100% - 8px);
			height: 6px;
			position: absolute;
			background-color: #FFCD27;
			top: -4px;
			left: 4px;
		}
		&:after {
			content: "";
			width: calc(100% - 8px);
			height: 6px;
			position: absolute;
			background-color: #FFCD27;
			bottom: -4px;
			left: 4px;
		}
		&:hover {
			transform: scale(1.1);
		}
	}

	#buttons div:nth-child(2) {
		background-color: $red;
		color: $background-color;
		&:before {
			background-color: $red;
		}
		&:after {
			background-color: $red;
		}
	}
}


