$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$light-gray: #E3E3E3;
$dark-gray: #919191;
$green: #81A439;

#landing_game {

	.window_header i {
		font-size: 22px;
   		margin: -2px 10px 0 30px;
	}

	#game_start_buttons {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		margin: 50px 0;

		div {
			width: 250px;
			height: 100px;
			background-color: $accent_color;
			color: $background-color;
			cursor: pointer;
			padding: 20px;

			
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	#landing_displays {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
		width: 98%;
		height: 350px;
		margin: auto;
		background-color: $background-color;
        // border: 3px solid red;

        .match_list {
            width: 58%;
            height: 90%;
            // border: 3px solid green;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            overflow-y: scroll;

            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 95%;
                height: 15%;
                border: 5px solid transparent;
                border-radius: 5px;
                margin: 5px;
                line-height: 100%;

                &:hover {
                    background-color: gray;
                    cursor: pointer;
                }

                .name {
                    width: 30%;
                    padding-top: 4%;
                    font-family: "Dogica";
                    font-size: 13px;
                    color: white;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .score {
                    width: 10%;
                    padding-top: 4%;
                    font-family: "Dogica";
                    font-size: 18px;
                    color: white;
                }

                .logo {
                    height: 100%;
                }
            }
        }

        .leaderboard {
            width: 38%;
            height: 100%;
            border: 3px solid $accent_color;
            border-radius: 0px 5px 5px 5px;
            background-color: $background-color;

            &:before {
                content: "leaderboard_";
                font-family: "Dogica";
                position: relative;
                top: -6%;
                left: -16%;
                height: 20px;
                padding: 5px 21px;
                border-radius: 5px 5px 0px 0px;
                background-color: $accent_color;
                color: $background-color;
            }

            .leaderbox {
                width: 100%;
                height: 99%;
                position: relative;
                top: -17px;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                overflow-y: scroll;

                a {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 90%;
                    height: 6%;
                    border: 10px solid transparent;
                    border-radius: 5px;
                    margin: 5px;
                    line-height: 100%;

                    &:hover {
                        background-color: gray;
                        cursor: pointer;
                    }

                    .rank {
                        font-family: "Dogica";
                        font-size: 20px;
                        color: $accent_color;
                        width: 20%;
                    }

                    .name {
                        font-family: "Fira Mono";
                        font-size: 20px;
                        color: white;
                        width: 60%;
                        text-align: left;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .points {
                        font-family: "Dogica";
                        font-size: 10px;
                        color: gray;
                        width: 10%;
                    }
                }
            }
        }
	}
}
.name_wrapper {
	display: block;
	margin: 50px 50px 0px 50px;
	width: 276px;
	height: 25px;
	background-color: $background-color;
	border: 3px solid $accent_color;
	border-radius: 0px 5px 5px 5px;
	padding: 5px 10px;
}

.name_wrapper:before {
	content: "your username_";
	font-family: "Dogica";
	position: relative;
	top: -27px;
	left: -36px;
	background-color: $accent_color;
	color: white;
	height: 20px;
	width: 1000px;
	padding: 5px 20px;
	border-radius: 5px 5px 0px 0px;
}