$background-color: #232323;
$text-color: white;
$accent_color: #FFCD27;
$light-gray: #E3E3E3;
$dark-gray: #919191;
$green: #81A439;


#pong_game {
	position: relative;

	.window_header > div {
		width: calc(100% - 128px);
		// text-align: center;
		color: $dark-gray;
		display: flex;
		justify-content: space-around;
		div {
			font-family: "Fira Mono";
			i {
				margin-right: 10px;
			}
		}
	}

	.back_button {
		font-size: 26px;
		cursor: pointer;
		margin: -5px 30px 0 10px;
		color: $dark-gray;

		&:hover {
			color: $background-color;
			// transform: scale(1.15);
		}
	}

	.flex {
		display: flex;
		justify-content: space-evenly;
	}

	#countdown {
		position: absolute;
		font-size: 150px;
		
		font-family: "Dogica";
		width: 782px;
		text-align: center;
		top: 250px;

		&.yellow {
			color: $accent-color;
		}
	}
	
	#end_screen {
		border: 4px solid $accent_color;
		position: absolute;
		padding: 20px;
		top: calc(50% - 140px);
		left: calc(50% - 230px);
		// width: 260px;
		background-color: $accent-color;
		color: $background-color;
		font-family: "Dogica";

		#player_left {
			margin-top: 10px;
		}

		div:first-child {
			font-size: 36px;
			// padding-bottom: 10px;
		}

		#scores {
			display: flex;
			margin-top: 30px;
			width: 100%;
			justify-content: space-between;
			align-items: center;

			#p1, #p2 {
				display: flex;
				flex-direction: column;
				// gap: 20px;
				font-size: 20px;
				width: 150px;
				span:nth-child(2) {
					margin-top: 20px;
					font-size: 46px;
				}
			}

			div:nth-child(2) {
				font-size: 46px;
				margin: 0 20px;
			}
		}

		#back_button {
			background-color:$background-color ;
			color: $accent_color;
			cursor: pointer;
			width: 150px;
			padding: 10px;
			margin: auto;
			margin-top: 40px;
			
			&:hover {
				transform: scale(1.1);
			}
		}

		&:before {
			content: "";
			width: calc(100% - 8px);
			height: 12px;
			position: absolute;
			background-color: $accent_color;
			top: -12px;
			left: 4px;
		}
		&:after {
			content: "";
			width: calc(100% - 8px);
			height: 12px;
			position: absolute;
			background-color: $accent_color;
			bottom: -12px;
			left: 4px;
		}
	}

	#infos_error_game {
		font-family: "Dogica";
		line-height: 25px;
		width: 600px;
		margin: auto;
		margin-top: 60px;

		#title {
			font-size: 25px;
			margin-bottom: 10px;
			color: $accent-color;
		}

		#telescope_img {
			position: relative;
			margin-bottom: 40px;
		}

		#telescope_top {
			width: 180px;
			transform: rotate(-15deg);
			position: absolute;
			top: 75px;
			left: 200px;
		}
		#telescope {
			width: 300px;
		}
		
		.buttons {
			display: flex;
			margin-top: 50px;
			gap: 30px;
			justify-content: center;

			div {
				display: inline-block;
				height: 30px;
				background-color: $accent_color;
				color: $background-color;
				padding: 10px 15px 7px 15px;
				cursor: pointer;
				user-select: none;
				font-size: 20px;
				font-family: "Dogica";
				position: relative;

				&:before {
					content: "";
					width: calc(100% - 8px);
					height: 6px;
					position: absolute;
					background-color: $accent_color;
					top: -4px;
					left: 4px;
				}

				&:after {
					content: "";
					width: calc(100% - 8px);
					height: 6px;
					position: absolute;
					background-color: $accent_color;
					bottom: -4px;
					left: 4px;
				}

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}

	#waiting {
		margin-top: 200px;
		font-family: "Dogica";
		color: $dark-gray;
		p {
			margin-top: 20px;
		}
	}

	.game_background {
		position: absolute;
		height: 632px;
		width: 790px;
		top: 42px;
		left: -4px;
		z-index: -1;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 65% 50% ;

		&#space {
			display: flex;
			justify-content: space-between;
			font-family: "Dogica";

			#p1, #p2, #scores{
				margin: 20px;
				width: 200px;
				// background-color: red;
			}

			#p1 {
				text-align: left;
			}
			#p2 {
				text-align: right;
			}

			#scores {
				display: flex;
				justify-content: center;
				// gap : 30px;
				span {
					// background-color: green;
					display: inline-block;
					font-size: 40px;
					width: 100px;
					// margin: 0 15px;
				}
			}
		}

		&#mario {
			background-image: url(../../assets/img/mario_bg.jpeg);
			font-family: "Dogica";
			
			#points {
				display: flex;
				justify-content: space-between;
			}
			
			#p1, #p2 {
				display: flex;
				margin: 0 20px;
				font-size: 18px;
				align-content: center;
				img {
					height: 18px;
					margin: 0 5px;
				}
			}

			#p1 .all_score {
				margin-right: 40px;
			}

			#p2 .all_score {
				margin-left: 40px;
			}

			#names {
				font-size: 20px;
				width: calc(100% - 40px);
				display: flex;
				justify-content: space-between;
				margin: 20px 20px 15px 20px;
				span {
					text-transform: uppercase;
				}
			}
		}

		&#street {
			background-image: url(../../assets/img/street_fighter_bg.jpeg);
			background-size: cover;
			background-position: 20% 20%;
			
			#first_line, #last_line {
				display: flex;
				justify-content: space-between;
			}

			#life_bar {
				display: flex;
				justify-content: center;
				align-items: center;
				
				img {
					height: 32px;
				}

				#p1_bar {
					text-align: right;
				}

				#p2_bar {
					text-align: left;
				}

				#p1_bar, #p2_bar {
					width: 300px;
					height: 22px;
					border-top: 2px solid white;
					border-bottom: 2px solid white;
					background-color: #fe0000;
					position: relative;

					&:before {
						content: "";
						background-color: white;
						position: absolute;
						width: 2px;
						height: 22px;
						top: 0;
					}

					span {
						display: inline-block;
						height: 100%;
						background-color: #fefe00;
					}

				}

				#p1_bar:before {
					left: -2px;
				}

				#p2_bar:before {
					right: -2px;
				}
			}

			#last_line {
				margin: 10px 50px;
				img { transform: scale(0.9) }
			}

			#p1, #p2{
				width: 250px;
				margin: 10px 20px 5px 20px;
				img:first-child{
					margin-right: 50px;
				}
			}
		}
	}

	.fa-spinner {
		font-size: 56px;
		margin: 20px;
		color: $accent_color;
		animation: spin 2s steps(5, end) infinite;
	}
	
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}